<template lang="pug">
div.container(v-if="appIfo !== undefined && loading_d === false")
  //- Error App Info
  .row.justify-center.items-center.q-mt-xl(v-if="!validRequest")
    q-card(class="my-card")
      q-card-section
        | {{ appIfo.error.data }}

  div(v-if="validRequest")
    //- Change Account
    .column.items-end.q-pb-xl(v-if="sessionInitialized")
      .col-xs-12.col-sm-6
        p.name_account(v-if="sessionInitialized") {{ $t('pages.login.welcome')  }} {{ account }}
        q-btn.change_account(flat color="red" :label="$t('pages.login.change_account')" @click="onLogout")

    //- Do you want create an account
    div(v-if="showCreateAccount")
      h2.title_account {{$t('pages.login.not_have_account')}}
      h2.title {{$t('pages.login.create_account')}}
      .row.justify-center.items-center
        .col-xs-12.col-sm-6
          q-btn.q-mt-lg(color="green" class="full-width" :label="$t('common.buttons.create')" @click="() => {creating_account = true}")

    //- Creating an account
    sign-up-form(v-if="showSignUpForm" :SSO="true")
    verify-user(v-if="showVerifyUserForm" :SSO="true")
    .row.justify-center.items-center
      .col-xs-12.col-sm-6
        q-btn.q-mt-lg(v-if="showCancelButton" color="red" class="full-width" :label="$t('common.buttons.cancel')" @click="onReject")

    //- Template
    .col-2.text-center.content-start(v-if="!sessionSaved")
      h1 {{ $t('pages.login.title') }}

    //- App Info
    div(v-if="showAppInfo")
      h2.title {{$t('pages.login.q1')}} {{ appIfo.response.authRequestContext.app.name }} {{$t('pages.login.q2')}}
      .row.justify-center.items-center.container(v-if="appIfo.success")
        q-img.app_icon(v-if="appIfo !== undefined", :src="appIfo.response.authRequestContext.app.icon", style="height: 140px; max-width: 150px")
        .col-xs-12

    //- Login
    .row.justify-center.items-center(v-if="!sessionInitialized")
      .col-xs-12.col-sm-6
        q-list
          q-item(
            v-for="(wallet, idx) in $ual.authenticators"
            :key="wallet.getStyle().text"
            v-ripple
            :style="{ background: wallet.getStyle().background, color: wallet.getStyle().textColor }"
            v-if="wallet.shouldRender() && !sessionSaved"
          )
            q-item-section.cursor-pointer(
              avatar
              @click="onLogin(idx)"
            )
              img(
                :src="wallet.getStyle().icon"
                width="30"
              )
            q-item-section.cursor-pointer(@click="onLogin(idx)") {{ wallet.getStyle().text }}
            q-item-section(avatar)
              .flex
                q-spinner(
                  v-if="loading === wallet.getStyle().text"
                  :color="wallet.getStyle().textColor"
                  size="2em"
                )
                q-btn(
                  v-else
                  :color="wallet.getStyle().textColor"
                  icon="fas fa-download"
                  @click="openUrl(wallet.getOnboardingLink())"
                  target="_blank"
                  dense
                  flat
                  size="12px"
                )
                  q-tooltip {{ $t('pages.login.getApp') }}

      request-account(
        @accountEntered="onAccountEntered"
      )

    //- Accept and Reject Buttons
    .row.justify-center.items-center
      .col-xs-12.col-sm-6
        q-btn.q-mt-lg(v-if="showAuthorizeBtn" color="green" class="full-width" :label="$t('common.buttons.accept')" @click="onAuthCode")
        q-btn.q-mt-lg(v-if="showRejectButton" color="red" class="full-width" :label="$t('common.buttons.reject')" @click="onReject")
    //- Scopes
    .row.justify-center.items-center(v-if="showAppInfo")
      .col-xs-12.col-sm-6
        p.scope_title {{$t('pages.login.thisAppCan')}}
        div.q-mt-sm(v-if="appIfo.response.authRequestContext.scopes", v-for="scope in appIfo.response.authRequestContext.scopes")
          p.scope.bold - {{ scope.name }}
          p.scope {{ scope.desc }}
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import RequestAccount from './components/request-account'
import SignUpForm from '~/pages/profiles/add/sign-up-form'
import VerifyUser from '~/pages/profiles/add/verify-user'

export default {
  name: 'page-login',
  components: {
    RequestAccount,
    SignUpForm,
    VerifyUser
  },
  data () {
    return {
      idx: null,
      sessionSaved: false,
      accountName: '',
      params: undefined,
      appIfo: undefined,
      loading_d: true,
      creating_account: false,
      needVerifyProfile: false,
      validRequest: true
    }
  },
  watch: {
    sessionSaved (prev) {
      console.log('last session saved change', prev)
      console.log('new session saved change', this.sessionSaved)
    }
  },
  async mounted () {
    // Get params from url
    this.params = this.$route.query

    try {
      // Verify if the params are correct
      const r1 = await this.authContextSSO({ params: this.params })
      console.log('Context response', r1)
      this.appIfo = (r1.success === true) ? r1 : r1

      // Needs verify?
      this.appIfo.response.authRequestContext.scopes.forEach(this.verifyScopeRequeriments)

      // Verify if there are a session saved
      // const sessionSaved = await this.isSessionSavedSSO()
      const sessionSaved = await this.hasValidSession()
      console.log('Esta es la sesion guardada', sessionSaved)
      this.sessionSaved = sessionSaved

      // If seesion is Saved do auto Login
      if (sessionSaved && r1.success) {
        const user = await this.autoLoginSSO()
        if (user) {
          const userInf = await this.userInfo()
          console.log('userInf', userInf)
          this.accountName = userInf.username
        } else {
          await this.onLogout()
        }
        // console.log('sessionSaved isRegistered', this.isRegistered)
        // console.log('sessionSaved getMyProfile', this.getMyProfile)
        // console.log('this', autoLogin)
        // console.log('sessionSaved', sessionSaved)
        // if (this.isRegistered) {
        //   this.accountName = this.account
        // } else if (autoLogin[0].accountName && !this.needVerifyProfile) {
        //   this.accountName = autoLogin[0].accountName
        //   console.log('Usuario logeado pero no registrado')
        // } else {
        //   console.info('Se cerro la sesion')
        //   await this.onLogout()
        // }
      }
    } catch (e) {
      console.log('Should close session')
      this.validRequest = false
      await this.onLogout()
      console.log(e)
    } finally {
      this.loading_d = false
      console.info(this)
    }
  },
  computed: {
    ...mapGetters('accounts', ['loading', 'account', 'authenticatorUal']),
    ...mapGetters('profiles', ['isRegistered', 'needVerifyComm', 'getMyProfile']),
    sessionInitialized () {
      let isInitialized = false
      if (this.sessionSaved === true && this.account) {
        isInitialized = true
      }
      return isInitialized
    },
    showCreateAccount () {
      return this.sessionInitialized && !this.creating_account && !this.isRegistered && this.needVerifyProfile
    },
    showAuthorizeBtn () {
      return (this.sessionInitialized && this.isRegistered && !this.needVerifyComm) || (this.sessionInitialized && !this.needVerifyProfile)
    },
    showSignUpForm () {
      let show = false
      if (!this.isRegistered && this.sessionSaved && this.creating_account && this.needVerifyProfile) {
        show = true
      }
      return show
    },
    showVerifyUserForm () {
      let show = false
      if (this.isRegistered && this.sessionSaved && this.needVerifyComm && this.needVerifyProfile) {
        show = true
      }
      return show
    },
    showCancelButton () {
      let show = false
      if ((!this.creating_account && !this.isRegistered && this.sessionSaved && this.needVerifyProfile) || (!this.isRegistered && this.sessionSaved && this.creating_account && this.needVerifyProfile) || (this.isRegistered && this.sessionSaved && this.needVerifyComm && this.needVerifyProfile)) {
        show = true
      }
      return show
    },
    showRejectButton () {
      let show = false
      if (!this.showCancelButton) {
        show = true
      }
      return show
    },
    showAppInfo () {
      let show = false
      if (this.appIfo.success === true && !this.showSignUpForm && !this.showVerifyUserForm && !this.showCreateAccount) {
        show = true
      }
      return show
    }
  },
  methods: {
    ...mapActions('accounts', ['loginSSO', 'logoutSSO', 'autoLoginSSO', 'isSessionSavedSSO', 'authContextSSO', 'authCodeSSO', 'hasValidSession', 'userInfo']),
    async onLogin (idx, account) {
      this.idx = idx
      try {
        const user = await this.loginSSO({ idx: this.idx, account, returnUrl: this.$route.query.returnUrl })
        this.sessionSaved = false
        console.log('wallet response', user)
        console.log('USER isRegistered', this.isRegistered)
        console.log('USER eosAccount', this.getMyProfile)
        console.log('USER needVerifyComm', this.needVerifyProfile)
        console.log('antes del if 1')
        console.log('antes del if 1')
        if (!user) {
          console.error('Not loged yet')
          return
        }
        this.accountName = this.account
        this.sessionSaved = true
        console.log('AccountName', this.accountName)
        console.log('Se logeo!!', this.getMyProfile)
        console.log('antes del if 2')
        if ((!this.isRegistered || this.needVerifyComm) && this.needVerifyProfile === true) return
        this.loading_d = true
        await this.onAuthCode()
      } catch (error) {
        console.log(error)
      }
    },
    async onLogout () {
      try {
        const result = await this.logoutSSO()
        this.sessionSaved = false
        this.accountName = ''
        console.log('Se Deslogueo!!', result)
      } catch (error) {
        console.log(error)
      }
    },
    async onAuthCode () {
      try {
        const authCode = await this.authCodeSSO({ params: this.params })
        console.log('authCode status', authCode.success)
        if (authCode.success) {
          const response = authCode.response.oauth
          let redirectTo = response.redirectUri + '?code=' + response.authorizationCode
          if (this.params.state) redirectTo += `&state=${this.params.state}`
          console.log('redirectTo', redirectTo)
          window.location.replace(redirectTo)
        }
      } catch (error) {
        console.log(error)
      } finally {
        // this.loading_d = false
      }
    },
    async onAccountEntered (account) {
      console.log('onAccountEntered Listened')
      await this.onLogin(this.idx, account)
    },
    openUrl (url) {
      window.open(url)
    },
    async onReject () {
      // await this.onLogout()
      const rejectTo = `${this.params.redirect_uri}?error=access_denied&error_description=User Rejected request`
      window.location.replace(rejectTo)
    },
    verifyScopeRequeriments (scope) {
      console.log('Verify Scope verify?', scope.requiresVerifiedProfile)
      if (scope.requiresVerifiedProfile === true) this.needVerifyProfile = scope.requiresVerifiedProfile
    }
  }
}
</script>

<style lang="sass" scoped>
  h1
    color: $primary
    font-size: 16px
    padding: 0
    line-height: 60px
    font-weight: 600
  .title
    font-size: 25px
    text-align: center
    font-weight: bold
    margin: 0px
    padding-top: 0px
    margin-bottom: 30px
  .scope_title
    font-size: 15px
    text-align: left
    margin: 0px
    margin-top: 20px
    font-weight: bold
  .scope
    color: #616161
    font-size: 12px
    text-align: left
    margin: 0px
    margin-left: 20px
  .bold
    font-weight: bold
    font-size: 15px
  .name_account
    color: $primary
    font-weight: bold
    font-size: 15px
    text-align: end
    margin: 0px
    margin-right: 15px
  .app_icon
    margin: 10px
    margin-bottom: 50px
  .my-card
    width: 100%
    max-width: 400px
    color: red
  .container
    min-width: 100% !important
  .change_account
    text-decoration-line: none
    color: red
    font-weight: bold
    cursor: pointer
    width: auto
    text-transform: inherit
  .title_account
    color: #903131
    font-size: 20px
    text-align: center
    font-weight: bold
</style>
