<script>
export default {
  name: 'layout-guest',
  computed: {
    title () {
      return this.$t(this.$route.meta.title || 'common.defaultTitle')
    }
  }
}
</script>

<template lang="pug">
  .column
    .main-splash
      img.imgSplash(src="../../app-splashscreen.png")
    //- .col-2.text-center.content-start
    //-   h1 {{ title }}
    .col.col-md-6.flex.flex-center.q-px-lg
      router-view
</template>

<style lang="sass" scoped>
  .back
    position: absolute
    top: 25px
    left: 10px
  .main-splash
    max-height: 25%
    text-align: center
    margin-top: 30px
    margin-bottom: 0px;
  h1
    color: $primary
    font-size: 16px
    padding: 0
    line-height: 60px
    font-weight: 600
  .imgSplash
    min-width: 200px
    max-height: 100px
    margin-top: 0px

  @media screen and (max-width: 360px)
    .imgSplash
      max-width: 150px
      max-height: 100px
      margin-bottom: 20px
</style>
